*,::before,::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Clash Display', sans-serif;;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Clash Display', sans-serif;
  font-weight: bold;
}

#root{
  background-color: black;
  height: 100vh;
}

#root::after{
  content:"";
  background-image: url("../src/assets/bg-full.png");
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}